<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Run Shop</title>
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/trainers">All Trainers</a>
        </li>
        <li>
          <a href="/trainers/new">Add Trainers</a>
        </li>
        <li>
          <a href="/brands/new">Add Brand</a>
        </li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
