<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Run Shop</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <nav id="menu">
      <ul>
        <li class="menu-item">
          <a href="/">Home</a>
        </li>
        <li class="menu-item">
          <a href="/trainers">All Trainers</a>
        </li>
        <li class="menu-item">
          <a href="/brands">All Brands</a>
        </li>
        <li class="menu-item">
          <a href="/trainers/new">Add Trainers</a>
        </li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
