<form action="/brands/<%= @brands.id %>" method="post">
  <label for="name-field">Brand Name</label>
  <input type="text" name="name" id="name-field" value="<%= @brands.name %>"/>
  <br>
  <input type="submit" value="Edit Brand"/>
